.fir{
    height: 18vh;
    width: 25vw;
    display: inline-block;
    background-color: blue;
    margin-top:40vh;
    margin-bottom: 35vh;
}
.sec{
    height: 100vh;
    width: 9vw;
    display: inline-block;
    background-color: blue;
    
    
}
.thi{
    height: 18vh;
    width: 63vw;
    display: inline-block;
    background-color: blue;
    margin-top:40vh;
    margin-bottom: 35vh;
}